*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body
{
    background: #0E1014;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Conteiner ul li a:hover
{
    color: #FFFFFF;
    transition: 0.5s;
}
header
{
    height: 73px;
    margin: 46px 150px 0 150px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;    
}
header p, a
{
    color: var(--light-text, #E4E5EA);
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
header ul a:hover
{
    color:#FFFFFF;
    transition: 0.5s;
}
header ul
{
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}
header ul li img
{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    padding-left: 30px;
}
.Logo_welbex
{
    position: relative;
    left: 0;
    top: 11px;
}
.Logo_welbex ul
{
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.part2
{
    width: 97px;
    height: 15px;
    flex-shrink: 0;
}
.part1
{
    width: 35px;
    height: 24px;
    flex-shrink: 0;
}
.Logo_welbex p
{
    text-align: left;
    width: 118px;
    color: #E4E5EA;
    font-family: 'Montserrat';
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.Menu_important
{
    gap: 30px;
}
.Menu_important li a
{
    color: var(--light-text, #E4E5EA);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.purple_ball
{
    top: -2px;
    left: 868px;
    position: absolute;
    width: 83px;
    height: 83px;
    flex-shrink: 0;
    fill: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(255, 208, 208, 0.54) 0%, rgba(212, 93, 93, 0.26) 59.67%, rgba(167, 49, 49, 0.25) 78.59%, rgba(130, 25, 25, 0.25) 100%);
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
    backdrop-filter: blur(2px);
}
.red_ball
{
    top: 547px ;
    left: 851px;
    position: absolute;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    fill: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.25) 59.67%, rgba(167, 49, 49, 0.26) 78.59%, rgba(130, 25, 25, 0.23) 100%);
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25)) blur(2.5px);
    backdrop-filter: blur(2px);
}
.red_ball1
{
    top: 83px ;
    left: 519px;
    position: absolute;
    width: 83px;
    height: 83px;
    flex-shrink: 0;
    fill: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(255, 208, 208, 0.54) 0%, rgba(212, 93, 93, 0.26) 59.67%, rgba(167, 49, 49, 0.25) 78.59%, rgba(130, 25, 25, 0.25) 100%);
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
    backdrop-filter: blur(2px);
}
.red_light
{
    top: 251px ;
    left: -102px;
    position: absolute;
    width: 311px;
    height: 311px;
    flex-shrink: 0;
    border-radius: 311px;
    opacity: 0.5;
    background: #961A1A;

filter: blur(196px);
}
.purple_light
{
    top: -154px ;
    left: 602px;
    position: absolute;
    width: 259px;
    height: 259px;
    flex-shrink: 0;
    border-radius: 259px;
    opacity: 0.5;
    background: #833AB4;
    filter: blur(196px);
}
#Content
{
    flex: 1 1 auto;
    min-height: 100%;
    margin: 90px 150px 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.left , .right
{
    width: 362px;
    min-height: 100%;
    top: 0;
    left: 0;
}
.left h1
{
    color: #E4E5EA;
    font-family: 'Inter';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.left p
{
    width: 275px;
    color: var(--light-text, #E4E5EA);
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
}
.left h1.Gradient
{
    font-weight: 900;
    background: var(--gradient, linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.9px;
}
.center
{
    display: none;
}
.flex
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right
{
    text-align: right;
}
.pad 
{
    padding-bottom: 25px;
}
.pad1
{
    padding-bottom: 45px;
}
.right h2
{
    color: var(--light-text, #E4E5EA);
    text-align: right;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}
.right p
{
    color: #E4E5EA;
    text-align: right;
    font-family: 'Montserra';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.right ul 
{
    width: 135px;
    padding: 15px 0px 15px 30px;
}
.right .Gradient
{
    background: var(--gradient, linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}
.right button
{
    width: 262px;
    height: 61px;
    background: #4077F3;
    color: var(--light-text, #E4E5EA);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
footer
{
    position: relative;
    height: 315px;
    padding: 0 150px;
    left: 0;
    bottom: 0;
}
footer .Conteiner
{
    padding-top: 55px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
}
footer .Conteiner li
{
    padding-bottom: 10px;
    padding-right: 52px;
}
.Compain
{
    width: 220px;
}
.Menu
{
    width: 408px;
}
.Menu div
{
    display: flex;
}
.aboutus
{
    text-align: right;
}
.aboutus div
{
    padding-top: 70px;
}
.aboutus ul
{
    display: flex;
    justify-content: end;
}
.aboutus ul li
{
    padding: 20px 10px;
}
footer .Conteiner .sty h3
{
    color: var(--dark-gray, #656566);
    font-family: 'Inter';
    font-size: 14px;    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
footer .Conteiner .sty a
{
    color: var(--light-text, #E4E5EA);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer .Conteiner .sty p
{
    color: var(--light-text, #E4E5EA);
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@media(max-width: 320px)
{
header .Logo_welbex, .telephon, .messedg, .hide
{
    display: none;
}
header
{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 55px;
}
.Menu_important
{
    gap: 0;
}
.Menu_important li a
{
    color: var(--light-text, #E4E5EA);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 16px;
}
.purple_ball
{
    top: 236px;
    left: 270px;
    position: absolute;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    fill: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.21) 78.59%, rgba(86, 24, 128, 0.23) 100%);
    filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25)) blur(5px);
    backdrop-filter: blur(2px);
}
.red_ball
{
    top: 402px ;
    left: 29px;
    position: absolute;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    fill: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.25) 59.67%, rgba(167, 49, 49, 0.26) 78.59%, rgba(130, 25, 25, 0.23) 100%);
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25)) blur(2.5px);
    backdrop-filter: blur(2px);
}
.red_ball1
{
    top: 402px ;
    left: 29px;
    position: absolute;
    width: 43px;
    height: 43px;
    flex-shrink: 0;
    fill: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(255, 208, 208, 0.54) 0%, rgba(212, 93, 93, 0.26) 59.67%, rgba(167, 49, 49, 0.25) 78.59%, rgba(130, 25, 25, 0.25) 100%);
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
    backdrop-filter: blur(2px);
}
.red_light
{
    top: 241px ;
    left: -55px;
    position: absolute;
    width: 211px;
    height: 210px;
    flex-shrink: 0;
    fill: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
}
.purple_light
{
    top: 54px ;
    left: 58px;
    position: absolute;
    width: 259px;
    height: 259px;
    flex-shrink: 0;
    border-radius: 259px;
    opacity: 0.5;
    background: #833AB4;
    filter: blur(196px);
}
#Content
{
    width: 272px;
    display: flex;
    flex-direction: column;
    margin: 40px 34px 0px 14px;
    z-index: 5;
}
.left 
{
    width: 272px;
}
.left h1
{
    color: var(--light-text, #E4E5EA);
    font-family: 'Inter';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.left p
{
    width: 275px;
    color: var(--light-text, #E4E5EA);
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 15px;
    padding-bottom: 45px;
}
.right 
{
    display: none;
}
.flex
{
    justify-content: space-between;
}
.cen1
{
    padding: 20px 25px 15px 0px;
    width: 120px;
}
.cen2
{
    padding: 0px 25px 15px 0px;
    width: 120px;
}
.center p
{
    color: var(--light-text, #E4E5EA);
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}
.center .Gradient
{
    background: var(--gradient, linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.center
{
    display: contents;
}
.center ul
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center h2
{
    color: var(--light-text, #E4E5EA);
    font-family: 'Montserrat';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.65px;
    text-transform: uppercase;
}
.center hr
{
    width: 10px;
    height: 1px;
    border: none;
    margin-right: 5px;
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
}
footer
{
    background: #0E1014;
    padding: 0 0 0 15px;
}
.aboutus
{
    text-align: left;
}
.aboutus ul
{
    justify-content: flex-start;
}
.aboutus ul li
{
    padding: 8px 10px;
}
footer .Conteiner
{
    display: flex;
    flex-direction: column;
}
footer .Conteiner li
{
    padding-right: 0;
}
footer .Conteiner .pa
{
    padding-right: 73px;
}
.Menu
{
    width: 100%;
}
footer .Conteiner .sty h3
{
    color: var(--dark-gray, #656566);
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
footer .Conteiner .sty a
{
    color: var(--light-text, #E4E5EA);
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer .Conteiner .sty p
{
    color: var(--light-text, #E4E5EA);
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
}